* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Josefin Sans", sans-serif;
  }
  
  :root {
    --white: white;
    --blue: #00bcd4;
    --body: #191818;
    --nav: #c0a677;
    --sidebar: #1e1e1e;
    --background-color: #a79169e6;
    --footer-links: #4c4a45;
    --place-holder: #c0bcbc;
  }
  
  body {
    background-color: var(--body);
  }
  
  ::selection {
    color: var(--footer-links);
    background-color: #e2c2958e;
  }
  
  .sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: var(--sidebar);
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  .sidebar header {
    font-size: 35px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
  }
  
  .dot {
    color: var(--nav);
  }
  
  .search-parent {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    width: 90%;
    height: 35px;
    max-width: 210px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(180%);
    margin: 5px 0 15px 15px;
  }
  
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 15px !important;
    color: var(--white);
    margin-right: -53px;
    text-align: left;
    text-transform: capitalize !important;
  }
  
  ::placeholder {
    color: var(--place-holder);
  }
  
  .search-bar button .search-icon {
    width: 20px;
    height: 20px;
    color: var(--place-holder);
  }
  
  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
  }
  
  .sidebar #sidebar-links {
    display: block;
    height: 65px;
    width: 100%;
    color: var(--white);
    line-height: 65px;
    padding-left: 15px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    transition: all 0.3s ease-out;
  }
  
  #sidebar-links.active,
  #sidebar-links:hover {
    border-left: 5px solid var(--nav);
    color: var(--nav);
  }
  
  .sidebar #sidebar-links i {
    font-size: 23px;
    margin-right: 16px;
  }
  
  #icons {
    visibility: hidden;
    pointer-events: none;
  }
  
  .sidebar #sidebar-links .sidebar-content {
    letter-spacing: 2px;
    font-size: 17px;
    width: max-content;
  }
  
  #check {
    display: none;
  }
  
  label #btn,
  label #cancel {
    position: fixed;
    cursor: pointer;
    color: var(--white);
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  @media (max-width: 860px) {
    label #btn,
    label #cancel {
      margin: 10px 10px;
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
  }
  
  label #cancel {
    opacity: 0;
    visibility: hidden;
  }
  
  #check:checked ~ .sidebar {
    left: 0;
    z-index: 1;
  }
  
  #check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  
  #check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  
  main {
    width: 100%;
    height: 37rem;
    position: relative;
  }
  
  @media (max-width: 585px) {
    main {
      height: 20rem;
    }
  }
  
  .main-background {
    height: 100%;
    width: 100%;
    background-image: url(../library/lina-kivaka-3394114.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .caption1 {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
  }
  
  @media (max-width: 1080px) {
    .caption1 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 585px) {
    .caption1 {
      font-size: clamp(16px, 7vw, 42px);
    }
  }
  
  .caption1 h2 {
    text-transform: uppercase;
    background-color: #00000040;
    padding: 15px 0 0 15px;
    cursor: default;
    letter-spacing: 15px;
  }
  
  section {
    display: flex;
    justify-content: center;
  }
  
  .menu-parent {
    background-color: #eee;
    width: 90rem;
    padding: 10px;
    text-align: center;
    margin: 0 30px;
    outline: 10px groove #a79169;
  }
  
  .menu-header {
    position: relative;
    text-transform: uppercase;
    margin: 100px auto;
    width: fit-content;
    font-size: 50px;
    font-weight: 300;
    color: #a79169;
  }
  
  @media (max-width: 1080px) {
    .menu-header {
      font-size: 35px;
    }
  }
  
  @media (max-width: 585px) {
    .menu-header {
      font-size: clamp(10px, 5vw, 42px);
    }
  }
  
  .menu-header::before {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid #c0a677;
    border-right: 20px solid transparent;
  }
  
  .menu-header::after {
    position: absolute;
    content: "";
    bottom: -10px;
    right: -20px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #c0a677;
    border-left: 20px solid transparent;
  }
  
  form {
    background-image: repeating-linear-gradient(
        60deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      ),
      repeating-linear-gradient(
        150deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      ),
      repeating-linear-gradient(
        240deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      ),
      repeating-linear-gradient(
        330deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      );
    background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 25px 0 25px 0;
  }
  
  @media (max-width: 585px) {
    form {
      flex-direction: column;
      padding: 10px;
    }
  }
  
  form div select {
    height: 70px;
    width: 350px;
    font-size: 18px;
    padding: 10px;
    color: var(--footer-links);
    border: 1px solid var(--background-color);
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
  @media (max-width: 940px) {
    form div select {
      width: 300px;
      font-size: 13px;
    }
  }
  
  @media (max-width: 790px) {
    form div select {
      font-size: 13px;
      width: 200px;
      letter-spacing: unset;
      height: 55px;
    }
  }
  
  form select:focus {
    outline: none;
    border: 3px solid var(--background-color);
    border-radius: 5px;
  }
  
  form div select option {
    text-transform: uppercase;
  }
  
  .dinner-parent {
    background-image: repeating-linear-gradient(
        60deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      ),
      repeating-linear-gradient(
        150deg,
        transparent,
        transparent 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      ),
      repeating-linear-gradient(
        240deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      ),
      repeating-linear-gradient(
        330deg,
        transparent,
        transparent 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      );
    background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
  
    font-size: 45px;
    font-weight: 300;
    height: 30rem;
    letter-spacing: 10px;
    width: 100%;
  }
  
  @media (max-width: 940px) {
    .dinner-parent {
      font-size: 40px;
    }
  }
  
  @media (max-width: 585px) {
    .dinner-parent {
      font-size: clamp(16px, 7vw, 42px);
    }
  }
  
  .dinner-parent:first-of-type {
    padding-top: 100px;
  }
  
  .dinner-parent:last-of-type {
    background-image: repeating-linear-gradient(
        60deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        #cdb67a 35px
      ),
      repeating-linear-gradient(
        150deg,
        transparent,
        transparent 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      ),
      repeating-linear-gradient(
        240deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      ),
      repeating-linear-gradient(
        330deg,
        #cdb67a,
        #cdb67a 27px,
        transparent 30px,
        transparent 34.5px,
        transparent 35px
      );
    background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
  }
  
  .footer-parent-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #c0a677;
    padding: 12px;
    align-items: center;
    margin-top: 50px;
  }
  
  .footer-icons1,
  .footer-icons2,
  .footer-icons3 {
    color: var(--body);
    transition: ease-out 0.1s;
    font-size: 30px;
    color: white;
  }
  
  @media (max-width: 315px) {
    .footer-icons1,
    .footer-icons2,
    .footer-icons3 {
      font-size: 25px;
    }
  }
  
  .footer-parent3 {
    height: 5rem;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  @media (max-width: 1080px) {
    .footer-parent3 {
      margin: 20px 0;
      padding: 0;
      height: auto;
      flex-direction: column;
      font-size: clamp(8px, 2vw, 40px);
    }
  }
  
  .footer-parent3 h3 {
    color: white;
  }
  
  @media (max-width: 1080px) {
    .footer-parent3 h3 {
      margin-bottom: 15px;
    }
  }
  
  .footer-parent3 a {
    color: white;
  }
  
  @media (max-width: 1080px) {
    .footer-parent3 a {
      padding: 5px 0;
    }
  }
  